@using ServiceSystemNRDCL.Models
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="navbar-brand text-light font-weight-bold">
            <img src="~/Images/Logo.jpg" height="50" width="50" class="rounded-circle" asp-append-version="true" />
            NRDCL Service System
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("Admin"))
                {
    <li class="nav-item active">
        <a class="nav-link" asp-controller="Product" asp-action="Index">Add Products</a>
    </li>
 }
else
{
<li class="nav-item active">
    <a class="nav-link" asp-route="HomePage">Home</a>
</li>
}
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Site">Site Registration</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" asp-action="Index" asp-controller="Deposit">Deposit Advance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Order">Place Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Index" asp-controller="Report">View Reports</a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-md-0">
                <partial name="_LoginInfo" />
            </ul>
        </div>
    </nav>
</header>
