@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown rounded bg-primary ">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Welcome! @User.FindFirst("FirstName").Value</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-controller="Home" asp-action="LogOut">Log Out</a>
        </div>
    </li>
}
else
{
    <li>
        <a class="btn btn-primary" asp-route="Admin">Admin</a>
    </li>
}