@if (ViewBag.PassWordErrors!=null)
{
    <ul>
        @foreach (var messages in ViewBag.PassWordErrors)
        {
            <li class="text-danger">@messages</li>
            
        }
    </ul>
}
