@model ChangePasswordModel

@{
    ViewData["Title"] = "ChangePassword";
}

<div class="jumbotron text-center bg-white">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <partial name="_ChangePasswordMessage" />
                <div class="card shadow-lg ">
                    <div class="card-header">
                        <h4 class="text-center">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <form method="post">

                            <div class="form-group row">
                                <label asp-for="CurrentPassword" class="col-md-5 col-form-label form-control-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="CurrentPassword">
                                    <partial name="_currentPasswordError" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="NewPassword" class="col-md-5 col-form-label form-control-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="NewPassword">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    <partial name="_PasswordError" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="ConfirmPassword" class="col-md-5 col-form-label form-control-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="ConfirmPassword">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group justify-content-between align-content-center">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>

                        </form>

                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



