
@{
    ViewData["Title"] = "DepositAdvance";
}
<div class="jumbotron-fluid bg-light text-center">
    <div class="container-fluid pt-5">
        <h1>Deposit Advance</h1>
        <hr/>
    </div>
</div>

