
@{
    ViewData["Title"] = "HomePage";
}
<div class="jumbotron bg-light text-center">
    <div class="container pt-5">
        <h3>Follow the following instruction to avail the services</h3>


    </div>
</div>


