
@{
    ViewData["Title"] = "HomePage";
}
<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container-fluid pt-5 text-center">
        <h1>Follow the following instruction to avail the services</h1>
        <hr />
        <div class="row">
                <ol class="mx-auto text-left">
                    <li class="h3">You have to register sites under you.</li>
                    <li class="h3">You have to deposit advance before ordering.</li>
                    <li class="h3">You can place order after the above two steps is done.</li>
                    <li class="h3">The orders placed can be view in view orders.</li>
                </ol>
            
        </div>
    </div>
</div>



