
@{
    ViewData["Title"] = "HomePage";
}
<div class="jumbotron bg-light text-center">
    <div class="container pt-5">
        <h3>Follow the following instruction to avail the services</h3>
    </div>
</div>
<div class="container pt-3">
    <div class="row">
        <div class="col-lg-9 mx-auto">
            <ul class="">
                <li class="list-group-item">1.You have to register sites</li>
                <li class="list-group-item">2.You have to deposit advance before ordering</li>
                <li class="list-group-item">3.You can place order after above two steps is done</li>
                <li class="list-group-item">4. The orders placed can be view in view orders</li>
            </ul>
        </div>
    </div>
</div>


