
@{
    ViewData["Title"] = "HomePage";
}
<div class="jumbotron bg-transparent">
    <div class="container pt-5 text-center">
        <h3>Follow the following instruction to avail the services</h3>
        <hr />
        <div class="row">
            <div class="col-md-6 mx-auto text-left">
                <ol>
                    <li class="h5">You have to register sites</li>
                    <li class="h5">You have to deposit advance before ordering</li>
                    <li class="h5">You can place order after above two steps is done</li>
                    <li class="h5">The orders placed can be view in view orders</li>
                </ol>
            </div>
        </div>
    </div>
</div>



