
@{
    ViewData["Title"] = "Site Registration";
}

<div class="jumbotron bg-light text-center">
    <div class="container pt-5">
        <h3>Welcome to Site Registration</h3>
        
</div>
</div>

