
@{
    ViewData["Title"] = "Site Registration";
}

<div class="jumbotron jumbotron-fluid bg-transparent">
<div class="container-fluid pt-5 text-center">
    <h1>Site Registrattion</h1>
    <hr />
    
</div>
</div>

