
@{
    ViewData["Title"] = "Site Registration";
}

<div class="jumbotron-fluid bg-light text-center">
    <div class="container-fluid pt-5">
        <h1>Site Registration</h1>
        <hr/>
        
</div>
</div>

