@{
    ViewData["Title"] = "Login/Register";
}

<div class="jumbotron bg-light text-center">
    <div class="container pt-5">
        <h3>Welcome to NRDCL Service System</h3>
        <div class="card w-50 mb-4 rounded-sm text-center">
            <h4 class="card-title">Login</h4>
            <div class="d-flex justify-content-between align-content-center">
                <a href="getbook/Id" class="btn btn-primary"> Login</a>
                <a href="getbook/Id" class="btn btn-outline-primary"> Register</a>
            </div>

        </div>
    </div>
</div>
