@{
    ViewData["Title"] = "Login/Register";
}
@model LogInModel

<div class="jumbotron text-center bg-white">
    <div class="container pt-5">
        <div class="row">
            <div class="col-md-5 mx-auto">
               <partial name="_ErrorMessage" />
               <partial name="_EmailConfirmMessage" />
                <div class="card shadow-lg ">
                    <div class="card-header">
                        <h4 class="text-center">Welcome to NRDCL Service System</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="LogIn" asp-controller="Home">

                            <div class="form-group row">
                                <label asp-for="CID" class="col-md-5 col-form-label form-control-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="CID">
                                    <span asp-validation-for="CID" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Password" class="col-md-5 col-form-label form-control-label"></label>
                                <div class="col-md-6">
                                    <input class="form-control" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                </div>
                            </div>


                            <div class="form-group form-check row mt-5">
                                <label asp-for="RememberMe" class="form-check-label col-md-auto"></label>
                                <span class="col-md-6">
                                    <input class="form-check-input" asp-for="RememberMe" />
                                </span>
                            </div>

                            <div class="form-group justify-content-between align-content-center">
                                <a asp-action="RegisterCustomer" class="btn btn-outline-secondary">Register</a>
                                <input type="submit" value="Log In" class="btn btn-primary" />

                            </div>
                            <div class="form-group form-check row mt-5">
                                <p><a  asp-action="ForgotPassword" asp-controller="Home"><u>Forgot password?</u></a></p>
                            </div>

                        </form>

                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
