@model ServiceSystemNRDCL.Models.Site

@{
    ViewData["Title"] = "Edit";
}

<div class="jumbotron text-center bg-white">
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card shadow-lg">
                    <div class="card-header">
                        <div class="card-group">
                            <div class="col-md-6 text-left"><h4>Site Details</h4></div>
                            <div class="col-md-6 text-right">
                                <a asp-action="Index">
                                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="Edit" asp-controller="Site">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="SiteID" />
                            <div class="form-group row">
                                <label asp-for="CustomerID" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" asp-for="CustomerID" readonly>
                                    <span asp-validation-for="CustomerID" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="SiteName" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" asp-for="SiteName">
                                    <span asp-validation-for="SiteName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="Distance" class="col-md-2 col-form-label required"></label>
                                <div class="col-md-6 text-left">
                                    <input class="form-control" asp-for="Distance">
                                    <span asp-validation-for="Distance" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-left">
                                <label class="col-md-2 col-form-label"></label>
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
